body {
    margin: 0;
    margin-bottom: 50px;
    font-family: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: lightgrayscale;
    .chess-table {
        display: flex;
        flex-direction: column;
        width: 600px;
        .fen-layout {
            margin: 5px;
            display: flex;
            #edit-string {
                background-color: pink;
                width: 500px;
                border-radius: 5px;
                margin: 5px;
                height: 38px;
            }
            #submit {
                height: 38px;
                background-color: darkgreen;
                border-radius: 5px;
                color: white;
                margin: 5px;
            }
        }
        .ascii-layout {
            margin: 5px;
            display: flex;
            #board {
                background-color: lightblue;
                color: black;
                border-radius: 5px;
                margin: 5px;
                width: 100%;
            }
        }
        .moves-layout {
            margin: 5px;
            display: flex;
            justify-content: space-between;
            .moves-forward {
                #selectedMove {
                    background-color: white;
                    height: 35px;
                    border-radius: 5px;
                    margin: 5px;
                    height: 35px;
                }
                #move {
                    width: 100px;
                    border-radius: 5px;
                    margin: 5px;
                    background-color: white;
                    height: 35px;
                }
                #submitMove {
                    background-color: darkgreen;
                    color: white;
                    margin: 5px;
                    border-radius: 5px;
                    height: 35px;
                }
            }
            #undo {
                background-color: darkred;
                color: white;
                margin: 5px;
                border-radius: 5px;
                height: 35px;
            }
        }
    }
}
