body {
  margin: 0;
  margin-bottom: 50px;
  font-family: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body .fen-layout #fen {
  width: 500px;
  background-color: pink;
  margin: 5px;
  border-radius: 5px;
}

body .fen-layout #submitFen {
  background-color: darkgreen;
  color: white;
  margin: 5px;
  border-radius: 5px;
}

body #selectedMove {
  background-color: white;
  height: 32px;
  border-radius: 5px;
  margin: 5px;
}
body #move {
  width: 100px;
  border-radius: 5px;
  margin: 5px;
  background-color: pink;
}
body .ascii-output {
    color: white;
}
body #submitMove {
  background-color: darkgreen;
  color: white;
  margin: 5px;
  border-radius: 5px;
}
body #undo {
  background-color: darkred;
  color: white;
  margin: 5px;
  border-radius: 5px;
}


