<h1>Ascii Chessboard</h1>

<form action="/submit_fen" method="post">
  <input type="text" name="fen" value="<%= session[:fenState] %>">

  <input type="submit" value="Submit FEN">
</form>

<% if session[:current_board] %>
  <pre><%= session[:current_board] %></pre>
<% else %>
  <p>No board to display. Current session: <%= session.inspect %></p>
<% end %>
<form action="/submit_move" method="post">
  <input type="text" name="move" placeholder="Move">
  <input type="submit" value="Submit Move">
</form>

<form action="/navigate" method="post">
  <button type="submit" name="direction" value="-1">Previous Move</button>
  <button type="submit" name="direction" value="1">Next Move</button>
</form>


