<!-- views/layout.erb -->

<!DOCTYPE html>
<html>
<head>
    <title>Ascii Chessboard</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <%= yield %>
</body>
</html>

