notes/
*txt
*md
*swp
*svg
package-lock.json
node_modules/
deploy/
__pycache__/
.env
**/build/
*.mermaid
.DS_Store
connector/taskdef-api.json
connector/update-connector-execute.json
ascii-chess-ts/taskdef-ui.json
ascii-chess-ts/update-asciichessts-execute.json
